#us {
	height: auto;
	width: auto;
	max-width: 400px;
	max-height: 400px;
	padding-top: 25px;
	padding-right: 50px;
	padding-bottom: 25px;
	padding-left: 50px;
}

header {
	margin-left: 25%;
	margin-right: 25%
}

footer {
	font-style: italic;
	text-align: center;
}

#weekend {background-image: url(../../hammock-beach-holiday.jpg);
}

a:link {
	color: red;
}
a:visited {
	color: blue;
}

a:active {
	color: green;
	}